[submodule "third_party/catlass"]
	path = third_party/catlass
	url = https://gitcode.com/xLLM-AI/catlass.git
[submodule "third_party/pto-isa"]
	path = third_party/pto-isa
	url = https://gitcode.com/cann/pto-isa.git
